td {
    border: none !important;
}

.todays-stats {
    height: 200px;
    margin-top: 30px;
    color: white;    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
}

.todays-stats  .glyphicon {
    font-size: 100px;
}

.todays-stats-quantity {
    font-size: 50px;
}

.todays-stats-details {
    
}

.todays-stats > span {  
    vertical-align: middle;
}

.todays-stats-answers {
    background-color: #e06666;
}

.todays-stats-questions {
    background-color: #eecf20;
}

.todays-stats-users {
    background-color: #6699ff;
}

.todays-stats-upvotes {
    background-color: #61d251;
}
@media (min-width: 1200px) {
    #summary-column {
        padding-right: 0px;
    }
    #summary-breakdown-column {
        padding-left: 0px;
    }
    .summary-display {
        max-height: 410px;
        height: 100%;
    }
}
  
#summary-breakdown-column li {
    border-left: none;
}

#summary-breakdown-canvas {
    margin-top: 50px;
}

.donut-inner {
   margin-top: -100px;
   margin-bottom: 100px;
}
.donut-inner h5 {
   margin-bottom: 5px;
   margin-top: 0;
}
.donut-inner span {
   font-size: 12px;
}