body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F7F7F7;
}

a {
    color: #00A8C6;
}

h5 {
    color: #00A8C6;
}

textarea:focus, input:focus, .uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8) !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
    outline: 0 none !important;
}

.ui-widget-content:focus {
    border-color: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Hide scrollbar */
/*::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}*/

a:hover {
    cursor: pointer;
}

img.navbar-logo {
    margin-top: 0px;
}

.logo {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #F9F2E7;
    margin-right: 10px;
    padding-top: 10px;
}

.logo span {
    font-weight: 600;
    /*color: #F38630;*/
}

.page-title {
    /*background-color: white;*/
    color: #00A8C6;
    font-weight: 600;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.heading {
    padding-left: 5px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400px;
}

.navbar {
    background-color: #00A8C6;
    border: 0px;
    border-radius: 0 !important;
    box-shadow: 0 4px 4px -2px #CCCCCC;
}

.navbar-logo {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 5px;
}

.navbar-brand, .navbar-nav > li > a {
    color: white !important;
}

.navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #26727F !important;
}

.sidebar {
    margin-top: 50px;
}

.sidebar h5 {
    color: #999999;
}

.sidebar ul {
    padding: 5px;
}

.sidebar li {
    list-style-type: none;
    padding-bottom: 5px;
}

.sidebar-inner {
    padding-top: 20px;
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #F7F7F7;
    margin-bottom: 10px;
    box-shadow: 0 4px 4px -2px #CCCCCC;
}

.card-line {
    border-bottom: 1px solid #97CFD9;
}

.sidebar-title {
    padding: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid #F38630;
    font-weight: 600;
    color: #F38630;
    font-size: 16px;
}

.sidebar-body {
    font-size: 14px;
    font-weight: 600;
    padding: 0px;
}

.sidebar-body a {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    color: #00A8C6;
}

.sidebar-body a:hover {
    background-color: #E4FBFF;
    text-decoration: none;
}

.ask-form label {
    color: #F38630;
}

.question-list-item {
    margin-bottom: 20px;
}

.question-list-item a:hover {
    color: #26727F;
    text-decoration: none;
}

.post-header {
    border-bottom: 1px solid #97CFD9;
    padding: 5px 15px 10px 15px;
}

.post-content {
    padding: 10px 15px 10px 15px;
}

.post-content-block {
    padding-bottom: 10px;
}

.post-content ul {
    padding-left: 15px;
}

.post-content li {
    list-style: square;
}

.post-title {
    padding-top: 10px;
    margin-bottom: 5px;
}

.post-title a {
    color: #00A8C6;
    font-weight: 600;
    font-size: 18px;
}

.post-answer {
    color: black;
    margin-bottom: 15px;
}

.post-vote {
    font-size: 20px;
    margin-bottom: 15px;
}

.post-vote .glyphicon {
    font-size: 24px;
}

.post-footer {
    padding: 0px;
}

.foldout-shown {
    border-bottom: 1px solid #97CFD9 !important;
    box-shadow: none !important;
    margin-bottom: 0px !important;
}

.post-foldout {
    position: relative;
    padding: 10px 15px 10px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #F7F7F7;
    margin-bottom: 10px;
    box-shadow: 0 4px 4px -2px #CCCCCC;
}

.post-foldout .main {
    margin-top: 0px;
}

/*Style for comment box*/
.comment, .comment-box {
    padding: 5px;
}

.btn,.form-control,.well {
    border-radius:1px;
    box-shadow:0 0 0;
}

.form-control {
    border-color:#d7d7d7;
}

.btn-primary {
    border-color:transparent;
}

button {
 outline: 0;
}

.btn span{
 color:#666666;
}
/*end style for comment box*/

.timestamp {
    padding-top: 10px;
    color: #999999;
}

.img-user {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.post-footer a {
    padding: 10px 0px 10px 0px;
    color: #00A8C6;
}

.post-footer a:hover {
    background-color: #E4FBFF;
    text-decoration: none;
}

.post-details {
    margin-bottom: 10px;
}

.answer {
    background-color: white;
    border-radius: 5px !important;
    padding: 5px;
    margin: 3px;
}

.answer-user {
    padding-top: 10px;
}

.answer-text-box {
    padding-left: 0px;
}

#btn-toggle-menu {
    color: white;
    background-color: transparent;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

#answer-text {
    width:100%;
    height: 100px;
    margin-bottom: 10px;
}

#nav-search-bar {
    margin-top: 8px;
}

#mobile-menu, .main {
    margin-top: 70px;
}


.top-buffer-20px {
    margin-top: 20px;
}

.top-buffer-40px {
    margin-top: 40px;
}

.top-buffer-70px {
    margin-top: 70px;
}

/* Resize reCaptcha */
@media screen and (max-height: 575px){
#rc-imageselect, .g-recaptcha {
    transform:scale(0.85);
    -webkit-transform:scale(0.85);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

/* Slideout CSS */
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
  padding: 0px;
  margin-top: 70px;
  /*background-color: #666666;*/
}

/* end Slideout CSS */

/* Tag-it CSS */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-family: 'Open Sans', sans-serif !important;
    background: none !important;
    color: #337ab7 !important;
    font-weight: normal !important;
}

/* Modal CSS */
/*#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

#########################################
   #    override the bootstrap configs     #
   #########################################

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}*/
/* end Modal CSS */
