body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F7F7F7;
}

a:hover {
    cursor: pointer;
}

.logo {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}

.page-title {
    /*background-color: white;*/
    font-weight: 400;
    color: #26727F;
    margin-top: 0px;
    margin-bottom: 20px;
}

.navbar {
    background-color: #00A8C6;
    border: 0px;
    border-radius: 0 !important;
    box-shadow: 0 0 3px #26727F;
}

.navbar-brand, .navbar-nav > li > a {
    color: white !important;
}

.navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #26727F !important;
}

.sidebar {
    margin-top: 50px;
}

.sidebar-inner {
    border-right: 3px solid #00A8C6;
}

.sidebar h5 {
    color: #999999;
}

.sidebar ul {
    padding: 5px;
}

.sidebar li {
    list-style-type: none;
    padding-bottom: 5px;
}

.main {
    margin-top: 70px;
}

.question-list-item a:hover {
    text-decoration: none;
}

.question-list-item h4 {
    color: #00A8C6;
}

.question-list-item {
    color: #999999;
}

.box-votes {
    padding-left: 0px;
    font-size: 16px;
}

.text-answer {
    color: black;
    margin-bottom: 10px;
}

.img-user {
    width: 80px;
    height: 80px;
}

.answer {
    background-color: white;
    border-radius: 5px !important;
    padding: 5px;
    margin: 3px;
}

#nav-search-bar {
    margin-top: 8px;
}
